body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #909be2;
}
.header-container {
  margin-top: 80px; 
  text-align: center; 
}
h1 {
  top:5px;

  color: #1b2a38;
  margin: 20px;
  font-size: 2.5rem;

  margin-top: 30px;

}

.navbar {
  background-color: #1f1a87;
  padding: 10px 20px;
  position: fixed;
  top: 0px; 
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
}

.navbar ul li a:hover {
  background-color: #18146d;
  border-radius: 5px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 50vh;
  padding-top: 10px; 
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}
p {
  font-size: 1rem;
  color: #0f0f0f; 
  margin-bottom: 50px; 
  text-align: center;
}
input {
  padding: 10px 15px; 
  border: 1px solid #dee2e6;
  border-radius: 5px;
  font-size: 1.2rem; 
  width: 150px; 
  height: 30px;
}

input[type="number"] {
  width: 250px;
}

button {
  padding: 15px 30px;
  background-color: #1f1a87;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #130f58;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .form-container {
    flex-direction: column;
    gap: 10px;
  }

  input, button {
    width: 100%;
    max-width: 300px;
  }
}

